@media print {
    .page-break-after {
        page-break-after: always;
        break-after: always;
    }

    .page-break-before {
        page-break-before: always;
        break-before: always;
    }
}

@media not print {
    main {
        border-bottom: 1px dashed;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

main {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(35, 72, 128);
    line-height: 1.5;
}

h2 {
    margin: 0;
    font-size: 1.75rem;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.text-secondary {
    color: hsla(216, 57%, 32%, 0.7);
}

.text-2xs {
    font-size: 0.75rem;
}

.text-xs {
    font-size: 0.8125rem;
}

.text-s {
    font-size: 0.875rem;
}

.text-m {
  font-size: 1rem;
}

.text-l {
  font-size: 1.125rem;
}

.border-t {
    border-top: 1px solid hsla(216, 57%, 32%, 0.5);
}

.border-b {
    border-bottom: 1px solid hsla(216, 57%, 32%, 0.5);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.gap-xs {
    gap: 0.25rem;
}

.gap-s {
    gap: 0.5rem;
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 1.5rem;
}

.gap-xl {
    gap: 2.5rem;
}

.justify-between {
    justify-content: space-between;
}

.items-end {
    align-items: flex-end;
}

/* Margins */

.mt-m {
    margin-top: 1.125rem;
}

.mt-l {
    margin-top: 1.75rem;
}

.mr-xs {
    margin-right: 0.375rem;
}

.mb-l {
    margin-bottom: 1.75rem;
}

/* Paddings */

.p-m {
    padding: 1.125rem;
}

.pt-s {
    padding-top: 0.75rem;
}

.pt-l {
    padding-top: 1.75rem;
}

.pb-s {
    padding-bottom: 0.75rem;
}

.pb-l {
    padding-bottom: 1.75rem;
}

.pl-s {
    padding-left: 0.75rem;
}

.pl-l {
    padding-right: 1.75rem;
}

.pr-s {
    padding-right: 0.75rem;
}

.pr-l {
    padding-left: 1.75rem;
}