@import url('./main-layout.css');

html {
    --lumo-shade-5pct: hsla(216, 57%, 32%, 0.05);
    --lumo-shade-10pct: hsla(216, 57%, 32%, 0.1);
    --lumo-shade-20pct: hsla(216, 57%, 32%, 0.2);
    --lumo-shade-30pct: hsla(216, 57%, 32%, 0.3);
    --lumo-shade-40pct: hsla(216, 57%, 32%, 0.4);
    --lumo-shade-50pct: hsla(216, 57%, 32%, 0.5);
    --lumo-shade-60pct: hsla(216, 57%, 32%, 0.6);
    --lumo-shade-70pct: hsla(216, 57%, 32%, 0.7);
    --lumo-shade-80pct: hsla(216, 57%, 32%, 0.8);
    --lumo-shade-90pct: hsla(216, 57%, 32%, 0.9);
    --lumo-primary-color-50pct: hsla(177, 46%, 46%, 0.5);
    --lumo-primary-color-10pct: hsla(177, 46%, 46%, 0.1);
    --lumo-error-color-50pct: hsla(3, 70%, 55%, 0.5);
    --lumo-error-color-10pct: hsla(3, 70%, 55%, 0.1);
    --lumo-shade: hsl(216, 57%, 32%);
    --lumo-primary-color: hsl(177, 46%, 46%);
    --lumo-primary-text-color: hsla(175, 46%, 44%, 1);
    --lumo-error-color: hsl(3, 70%, 55%);
    --lumo-error-text-color: hsl(3, 90%, 45%);
    --lumo-base-color: rgb(240, 247, 255);
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;
      --lumo-space-xl: 2.5rem;
      --lumo-space-l: 1.75rem;
      --lumo-space-m: 1.125rem;
      --lumo-space-s: 0.75rem;
      --lumo-space-xs: 0.375rem;
    --lumo-body-text-color: hsla(214, 51%, 43%, 0.94);

}

[theme~="dark"] {
    --lumo-primary-color: hsl(177, 46%, 46%);
    --lumo-primary-color-50pct: hsla(177, 46%, 46%, 0.5);
    --lumo-primary-color-10pct: hsla(177, 46%, 46%, 0.1);
    --lumo-primary-text-color: hsla(175, 63%, 44%, 1);
    --lumo-error-text-color: hsl(3, 85%, 64%);
    --lumo-body-text-color: hsla(214, 56%, 68%, 0.9);
    --lumo-error-color: hsl(3, 100%, 50%);
    --lumo-error-color-50pct: hsla(3, 100%, 50%, 0.5);
    --lumo-error-color-10pct: hsla(3, 100%, 50%, 0.1);

    }
